---
    import Card from '../../components/card/Card.astro';
    import './characteristics.scss';
---


<div class="characteristics-container">
    <h2 class="characteristics-title">Nuestras características</h2>
    <div class="card-wrapper">
        <Card image="src/assets/icons/characteristics-1.svg" title="Experiencia real" description="Más de 5 años creando soluciones web innovadoras"></Card>
        <Card image="src/assets/icons/characteristics-2.svg" title="IA aplicada" description="Utilizamos IA para optimizar el desarrollo y la experiencia de usuario."></Card>
        <Card image="src/assets/icons/characteristics-3.svg" title="Precios justos" description="Soluciones de alta calidad con tarifas transparentes y competitivas."></Card>
        <Card image="src/assets/icons/characteristics-4.svg" title="Atención humana" description="Soporte personalizado y comunicación constante en cada etapa."></Card>
    </div>
    
</div>