---
import './navbar.scss';
---

<div class="navbar-container">
    <div class="logo-container">
        <img src="../../public/logo.png" alt="Logo" />
    </div>

    <div class="navigation-container">
        <ul class="navigation-list">
            <li><a href="#" class="text">Inicio</a></li>
            <li><a href="#" class="text">Servicios</a></li>
            <li><a href="#" class="text">Planes</a></li>
            <li><a href="#" class="text">Portfolio</a></li>
            <li><a href="#" class="text">Nosotros</a></li>
            <li><a href="#" class="text">Contacto</a></li>
        </ul>
    </div>
</div>

<script src="./navbar.js"></script>