---
import './hero.scss';
---

<div class="hero-container">
    <div class="spheres-container">
        <div class="blue-sphere"></div>
        <div class="yellow-sphere"></div>
    </div>

    <div class="texts-container">
        <h1 class="title">
            Desarrollo web profesional potenciado por IA y hecho en Argentina.
        </h1>
        <h3 class="subtitle">
            Con años de experiencia real y los beneficios de la inteligencia
            artificial, creamos soluciones web que impulsan tu negocio.
        </h3>

        <div class="button-container">
            <button class="cta-btn" id="cta-btn">Contame tu proyecto</button>
        </div>
    </div>
</div>


<script src="./hero.js"></script>