---
import Navbar from "../components/Navbar.astro";
import "../styles/tailwind.css";
import "../styles/global.scss";
import logoSVG from "../assets/logo.svg";
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logoSVG.src} />
		<meta name="generator" content={Astro.generator} />
		<title>Malaya Web</title>
	</head>
	<body class="bg-background-dark text-white">
		<Navbar />
		<main>
			<slot />
		</main>
	</body>
</html>
